.message_row {
    width: 100%;
    min-height: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.user_message {
    align-self: flex-end;
    width: auto;
    max-width: 70%;
    min-height: auto;
    margin: 10px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    background-color: transparent;
    border-radius: 2px;
    font-size: 18px;
    text-align: right;
    padding: 5px;
}

.bot_message {
    align-self: flex-start;
    width: auto;
    max-width: 70%;
    min-height: auto;
    margin: 10px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    background-color: transparent;
    border-radius: 2px;
    font-size: 18px;
    text-align: left;
    color: whitesmoke;
    background-color: #3C0078;
    padding: 5px;
}