.table_title {
    color:#3C0078;
    font-weight: bold;
    font-size: 1.1em;
    margin-left: -30px
}
.entity_field {
    width: 80%;
    margin: auto;
}

.empty_field {
    margin: auto;
    text-align: center;
    font-weight: bold;
    color: #7c848a;
}

.inactive button {
   pointer-events: none;
  cursor: not-allowed;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}