
.recommendation_box p {
    align-self: center;
    font-weight: bold;
    color: #7c848a;
    font-size: .9em;
    text-align: center;
    width: 90%;
}

.recommendation_box table {
    width: 80%;
}

.recommendation_box table thead th:first-child {
    width: 50%;
}

.recommendation_box table thead th {
    text-align: center;
}


.recommendation_box table th {
    text-align: left;
}

.recommendation_box table tbody th:first-child {
    text-align: right;
    padding-right: 10px;
}


.recommendation_box.long {
    width: 90%;
    flex-direction: row;
    animation: elongate .5s linear;
    margin: 10px;
    border-radius: 20px;
    height: auto;
    border: 5px solid rgba(60, 0, 120, 0.6);
    display: flex;
}



.recommendation_table {
    font-size: 0.7em;
    align-self: center;
    width: 80%;
    margin-bottom: 20px;
}

.recommendation_title {
    padding: 0px;
}

.recommendation_table > p {
    font-size: 1.1em;
    width: 100%;
}

.recommendation_table table {
    table-layout: auto;
}

.positive tbody th {
    color: #8bc34a;
}

.negative tbody th {
    color: #c62828;
}


.recommendation_box {
    width: 30%;
    margin: 10px;
    border-radius: 20px;
    height: auto;
    border: 5px solid rgba(60, 0, 120, 0.6);
    display: flex;
    flex-direction: column;
}



@keyframes elongate{
    from {
        width: 30%;
    }
    to {
        width: 90%;
    }
}